
/* Globe2.css */
.india_globe {
    width: 400px !important;
    height: 400px !important;
  display: block;
  position: fixed; /* or absolute, depending on layout */
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
  box-shadow: 0px 0px 3px var(--mindaro);
  z-index: 0; /* Adjust if layering with other elements */
  border-radius: 50%;
  margin: 0 auto;
}


@media (max-width:500px) {
    
    .india_globe{
        width: 230px !important;
        height: 230px !important;

}
}